<div class="row">
	<div class="col-sm-12">

		<a ui-sref="entityShow({id:ctrl.entityId})" class="btn btn-block btn-danger">Entity Data</a>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Meta</th>
						<th>Type</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="log in ctrl.logs">
						<td>
							<p>Creator ID: {{log.user_id}}</p>
							<p>Creator: {{log.user.data.name}}</p>
							<p>Date: {{log.created_at.date}} ({{log.created_at.timezone}})</p>
							<p>{{log.created_since}}</p>
						</td>
						<td>
							<p>{{log.type}}</p>
						</td>
						<td>
							<p ng-repeat="(key, value) in log.data_one">{{key}}: {{value}}</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>