<div class="row">
	<div class="col-sm-12">

		<h3 ng-if="!ctrl.entity.id">Tambah Contact Baru</h3>
		<h3 ng-if="ctrl.entity.id">Contact ID: {{ctrl.entity.id}}</h3>
		<hr>

		<form>

			<label>Nama</label>
			<input type="text" ng-model="ctrl.entity.name" name="name">

			<label>Nomor Telepon</label>
			<input type="text" ng-model="ctrl.entity.phone_number" name="phone_number">
			
			<label>Nomor Telepon 2</label>
			<input type="text" ng-model="ctrl.entity.phone_number_2" name="phone_number_2">
			
			<label>Email</label>
			<input type="email" ng-model="ctrl.entity.email" name="email">
			
			<label>Address</label>
			<textarea ng-model="ctrl.entity.address" rows="4" style="height:80px;" name="address"></textarea>

			<hr>

			<label>KTP</label>
			<input type="text" ng-model="ctrl.entity.ktp" name="ktp">
			
			<label>NPWP</label>
			<input type="text" ng-model="ctrl.entity.npwp" name="npwp">
			
		</form>

		<button class="btn btn-block btn-default" ng-click="ctrl.save(ctrl.entity)">Simpan</button>
		<hr>

		<div class="well">
			<div ng-if="ctrl.entity && !ctrl.entity.deletion_request">
				<input type="checkbox" class="form-not-applied" ng-model="ctrl.entity.request_delete">
				<label>Hapus data person ini</label>
			</div>

			<div ng-if="ctrl.entity.deletion_request">
				<h4>Delete Requested</h4>
				<p>Dimita Oleh: {{ctrl.entity.deletion_request.name}} ({{ctrl.entity.deletion_request.id}}); Waktu: {{ctrl.entity.deletion_request.time}}</p>

				<button class="btn btn-block btn-danger" ng-click="ctrl.delete(ctrl.entity)">Hapus</button>
			</div>
		</div>
		

	</div>
</div>