<div class="row">
	<div class="col-sm-12">

		<h3 ng-if="!ctrl.entity.id">Tambah Contact Baru</h3>
		<h3 ng-if="ctrl.entity.id">Contact ID: {{ctrl.entity.id}}</h3>
		<hr>

		<form>

			<label>Nama</label>
			<input type="text" ng-model="ctrl.entity.name" name="name">

			<label>Nomor Telepon</label>
			<input type="text" ng-model="ctrl.entity.phone_number" name="phone_number">
			
			<label>Nomor Telepon 2</label>
			<input type="text" ng-model="ctrl.entity.phone_number_2" name="phone_number_2">
			
			<label>Email</label>
			<input type="email" ng-model="ctrl.entity.email" name="email">
			
			<label>Address</label>
			<textarea ng-model="ctrl.entity.address" rows="4" style="height:80px;" name="address"></textarea>

			<hr>

			<label>KTP</label>
			<input type="text" ng-model="ctrl.entity.ktp" name="ktp">
			
			<label>NPWP</label>
			<input type="text" ng-model="ctrl.entity.npwp" name="npwp">

			<hr>

			<label>Program User ID</label>
			<input type="text" ng-model="ctrl.entity.user_id" name="user_id" readonly>

			<div class="row">
				<div class="col-sm-8">
					<input type="text" ng-model="ctrl.directUserEmail">
				</div>
				<div class="col-sm-4">
					<button class="btn btn-block btn-success" ng-click="ctrl.findDirectUser(ctrl.directUserEmail)">Cari</button>
				</div>
			</div>
			
		</form>

		<button class="btn btn-block btn-default" ng-click="ctrl.save(ctrl.entity)">Simpan</button>
		<hr>

		<div class="well">
			<div ng-if="ctrl.entity && !ctrl.entity.deletion_request">
				<button class="btn btn-block btn-danger" ng-click="ctrl.action.requestDelete(ctrl.entity, true)">
					Hapus
				</button>
			</div>

			<div ng-if="ctrl.entity.deletion_request">
				<h4>Delete Requested</h4>
				<p>Dimita Oleh: {{ctrl.entity.deletion_request.name}} ({{ctrl.entity.deletion_request.id}}); Waktu: {{ctrl.entity.deletion_request.time}}</p>

				<button class="btn btn-block btn-danger" ng-click="ctrl.delete(ctrl.entity)">Hapus</button>
				<button class="btn btn-block btn-danger" ng-click="ctrl.action.requestDelete(ctrl.entity, false)">Batalkan</button>
			</div>
		</div>

		<div class="well">
			<button ng-if="!ctrl.entity.edit_lock" class="btn btn-block btn-danger" ng-click="ctrl.action.editLock(ctrl.entity, true)">Kunci Data</button>

			<div ng-if="ctrl.entity.edit_lock" >
				<h4>Data Lock</h4>
				<p>Oleh: {{ctrl.entity.edit_lock.name}} ({{ctrl.entity.edit_lock.id}}); Waktu: {{ctrl.entity.edit_lock.time}}</p>

				<button class="btn btn-block btn-danger" ng-click="ctrl.action.editLock(ctrl.entity, false)">Batalkan Kunci Data</button>
			</div>
		</div>

		<a ng-if="ctrl.entity.id" class="btn btn-block btn-success" ui-sref="entityLog({id:ctrl.entity.id})">Log</a>

	</div>
</div>